<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404页面</title>
</head>
<body>
<h1>阿偶！页面丢失啦～～</h1>
<h2>可联系管理员</h2>
HuXifan ：<a href="https://www.google.com/search?sxsrf=ACYBGNTmsMzrmlk6-wZ3S2ZrHckyxsoyxw%3A1571812766943&ei=nvWvXdqVOYLg-AbqmoSICw&q=Django+url%E6%B2%A1%E6%9C%89%E9%85%8D%E7%BD%AE%E6%88%96%E8%80%85url%E9%85%8D%E7%BD%AE%E9%94%99%E8%AF%AF&oq=Django+url%E6%B2%A1%E6%9C%89%E9%85%8D%E7%BD%AE%E6%88%96%E8%80%85url%E9%85%8D%E7%BD%AE%E9%94%99%E8%AF%AF&gs_l=psy-ab.3...6264.7322..7834...0.0..0.139.267.0j2......0....1..gws-wiz.6X3aQtLA4co&ved=0ahUKEwja3IHt4rHlAhUCMN4KHWoNAbEQ4dUDCAs&uact=5">遇事不决，可问谷歌</a>
<ul></ul>
</body>
</html>